/* region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 70%;
    margin: auto;
    padding: 5px;
}
/* end-region common */

/* region Debug */
.debug * {
    border: 1px dashed;
}

/* debug header */
.debug header {
    background-color: #add8e6;
    height: 80px;
}

.debug header>section>div{
    background-color: #daa520;
}

/* debug section1 */
.debug #section1{
    height: 500px;
    background-color: #00008b;
}

.debug #square-s1{
    background-color: #ee82ee;
    height: 80%;
    width: 50%;
}

/* debug section2 */
.debug .section2and4{
    height: 600px;
    background-color: #ffffff;
}

.debug .square1-s2{
    background-color: #1e90ff;
    height: 80%;
    width: 40%;
}

.debug .square2-s2{
    background-color: #ffc0cb;
    height: 80%;
    width: 30%;
}

/* debug section3 */
.debug #section3{
    height: 600px;
    background-color: #d3d3d3;
    flex-direction: row-reverse;
}

/* debug section5 */
.debug #section5{
    height: 995px;
    background-color: #d3d3d3;
}

.debug #square-s5{
    background-color: #228b22;
    height: 88%;
    width: 70%;
}

/* debug section6 */
.debug .section6{
    height: 630px;
    background-color: #23272a;
    padding-top: 1rem;
}

.debug .square1-s6{
    background-color: #f08080;
    height: 94%;
    width: 22%;
}

.debug .square2-s6{
    background-color: #20b2aa;
    height: 94%;
    width: 12%;
}

/* debug footer */
.debug #footer{
    height: 111px;
    background-color: #23272a;
    display: flex;
    align-content: flex-end;
    justify-content: center;
}

.debug #foot-container{
    background-color: #7fffd4;
    height: 80%;
    width: 70%;
    align-content: center;
}
/* end-region Debug */

/* layout */
.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.general-flex {
    display: flex;
}
/* end-layout */

/* utility */
.text-color1 {
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
/* end-utility */

/* header */
header{
    background-color: #255ee9;
}

header>section {
    height: 80px;
}

#head1{
    width: 30%;
    align-content: flex-end;
}

#head2{
    width: 40%;
    justify-content: space-between;
}

#head3{
    width: 30%;
    justify-content: flex-end;
}

.button1{
    padding: 10px 15px;
    border-radius: 20px;
    border-color: none;
    border: 0px;
}
/* end-header */

/* main */
/* section 1 */
#section1 {
    height: 550px;
    background-image: url(../img/jumbo.png);
    background-size:cover;
}

#square-s1 {
    display: flex;
    height: 80%;
    width: 50%;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.title-size {
    font-size: 3rem;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
}

.paragraph-size {
    font-size: 20px;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 30px;
}

.button2 {
    padding: 10px 15px;
    border-radius: 20px;
    border-color: none;
    border: 0px;
    color: white;
    background-color: #23272a;
}

#buttons-square {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    width: 50%;
}
/* /section 1 */

/* section 2 */
.flex-section{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.section2and4 {
    height: 600px;
    background-color: #ffffff;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.square1-s2 {
    height: 80%;
    width: 40%;
}

.square2-s2 {
    height: 80%;
    width: 30%;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 4rem;
}

.title-size2 {
    font-size: 3rem;
    color: #23272a;
    margin-bottom: 2rem;
}

.paragraph-size2 {
    font-size: 20px;
    color: #23272a;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 30px;
}

#wave {
    width: 100%;
    opacity: 0.03;
    background-color: white;
    transform:scale(105%);
}
/* end-section 2 */

/* section 3 */
#section3{
    height: 600px;
    background-color: #f6f6f6;
    flex-direction: row-reverse;
}

#wave2 {
    width: 100%;
    opacity: 0.03;
    background-color: white;
    transform: rotate(180deg);
}
/* end-section 3 */

/* section 5 */
#section5{
    height: 995px;
    background-color: #f6f6f6;
}

#square-s5{
    height: 88%;
    width: 70%;
}

.title-size3 {
    font-size: 3rem;
    color: #23272a;
    margin-bottom: 2rem;
    text-align: center;
}

.paragraph-size3 {
    font-size: 20px;
    color: #23272a;
    margin-top: 1rem;
    line-height: 30px;
    text-align: center;
}

#stars {
    display: flex;
    background-image: url(../img/stars.svg);
    width: 600px;
    height: 50px;
    justify-content: center;
    align-items: flex-end;
    padding-right: 50px;
    margin-left: 50px;
}
/* end-section 5 */

/* section 6 */
.flex-section6{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* end-section 6 */
/* end-main */

/* footer */
.flex-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

#foot1{
    width: 10%;
    justify-content: center;
    background-color: #ffb6c1;
}

#foot2{
    width: 10%;
    justify-content: center;
    background-color: #ffb6c1;
}
/* end-footer */